body {
  background-color: #FAFAFA text-align: center;
  font-family: 'Epilogue Bold', sans-serif;
  color: #141414;
}

image {
  padding: 20px;
  width: 60%;
}

p {
  font-size: 18px;
  color: #696969;
  padding: 7% 0;
  padding-right: 25%;
  text-align: left;
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
  padding-right: 65px;
  margin-top: 60px;
  line-height: 1;
}


    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}


.navbar-brand {
  font-weight: bolder;
  font-size: 2.2rem;
  margin-left: 40px;
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.btn {
  color: #696969;
}

.image {
  padding-right: 12px;
}

.dropdown-menu {
  min-width: 100%;
  border-radius: 10px;
  padding: 8px;
}

.dropdown-item {
  color: #696969;
}

.nav-link {
  color: #696969;
}

.features {
  font-weight: 700;
}

.nav-link:hover {
  color: black;
}

.btn {
  border-radius: 12px;
  border-width: 1.7px;
}

.login {
  padding-left: 50%;
  padding-right: 40px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.title {
  padding: 3% 10% 7%;
}

.row {
  text-align: left;
}

.column {
  padding: 0 3%;
}

.button {
  font-weight: 700;
  background-color: black;
  color: white;
  width: 27%;
  height: 10%;
  border-radius: 13px;
}

.title-image {
  width: 72%;
  padding-left: 10px;

}

.image-column{
  padding-left: 30px;
}

.client-image {
  width: 90%;
}

.row-image {
  margin-top: 50px;
  width: 90%
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.navbar-toggler{
  border: none;
}

@media (max-width: 1000px) {
  .navbar-brand{
    margin-left: 20px;
  }


  .title{
    padding: 0 !important;
  }
  .column{
    padding: 0 !important;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    order: 2;
  }
  .image-column{
    order: 1;
    padding: 0 !important;
    height: 20%;
  }
  .title-image {
    content: url(images/image-hero-mobile.png);
    position: static;
    width: 100%;
    image-
    padding: 0 !important;
    size: 50px;
  }

  .button{
    width: 30%;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
  }

  h1{
    font-size: 50px;
    padding: 0px;


  }
  p{
    text-align: center;
    font-size: 25px;
    word-spacing: 1px;
    padding: 20px 15px;

  }

  .row-image{
    width: 100%;
  }
  .client-image{
    width: 70px;
  }
  .client-image1{
    width: 70px;
    margin-left: 30px;
  }
  .col-lg-3{
    width:25%;
    padding: 0 !important;
    text-align: center;
  }

}
